<!-- item-approval.component.html -->
<h3 class="m-4">Item Approval</h3>
<app-budget-plan [editable]="true" />
<hr />
<table class="table table-hover">
  <thead>
    <th></th>
    <th>#</th>
    <th>Title</th>
    <th class="text-end pe-5">Price</th>
    <th class="text-end pe-5">Amount</th>
    <th class="text-center">Contact Mobile No</th>
    <th class="text-center">Status</th>
  </thead>
  <tbody>
    @for (item of items; track item.id) {
      <tr>
        <td>
          <button
            class="btn btn-primary mx-2"
            (click)="onConfirm(item, 'Approve')"
            [disabled]="item.status === ItemStatus.APPROVED"
          >
            Approve
          </button>
          <button
            class="btn btn-secondary mx-2"
            (click)="onConfirm(item, 'Reject')"
            [disabled]="item.status === ItemStatus.REJECTED"
          >
            Reject
          </button>
        </td>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td class="text-end pe-5">{{ item.price | number: '1.2-2' }}</td>
        <td class="text-end pe-5">{{ item.amount | number: '1.2-2' }}</td>
        <td class="text-center">{{ item.contactMobileNo | mobileFormat }}</td>
        <td class="text-center">{{ item.status }}</td>
      </tr>
    } @empty {
      <tr><td colspan="7" class="text-center">Data not found</td></tr>
    }
  </tbody>
</table>
