<!-- item-form.component.html -->
<h3 class="m-4">Item Entry / Add </h3>
debug: {{ fg.value | json }}
<hr />
<div class="d-flex justify-content-center">
  <form class="w-50 needs-validation" [formGroup]="fg" (ngSubmit)="onSubmit()">
    <div>
      <label class="form-label" for="title">Title</label>
      <input
        class="form-control"
        [class.is-invalid]="title.errors && title.touched"
        formControlName="title"
        id="title"
        type="text"
      />
      <div class="invalid-feedback">
        Title is required.
      </div>
    </div>
    <div class="mt-3">
      {{ amount.errors | json }}
      <label class="form-label" for="amount">Amount</label>
      <input
        class="form-control"
        formControlName="amount"
        id="amount"
        type="number"
      />
      <div class="invalid-feedback">
        @if(amount.hasError('required')) {
          Amount is required.
        }
        @if(amount.hasError('min')) {
          Amount should more than {{ amount.getError('min').min }}.
        }
      </div>
    </div>

    <div class="mt-3">
      <label class="form-label" for="price">Price</label>
      <input
        class="form-control"
        formControlName="price"
        id="price"
        type="number"
      />
    </div>

    <div class="mt-3">
       
      <label class="form-label" for="contactMobileNo">Contact Mobile No</label>
      <input
        class="form-control"
        formControlName="contactMobileNo"
        id="contactMobileNo"
        type="text"
      />
      <div class="invalid-feedback">
        @if(contactMobileNo.hasError('thMobile')) {
          Mobile No should be Thailand Mobile.
        }
      </div>
    </div>
{{ contactMobileNo.errors | json }}
    <div class="mt-3 d-flex justify-content-between">
      <button class="btn btn-secondary" (click)="onBack()" type="button">
        Back
      </button>
      <button [disabled]="!fg.valid" class="btn btn-primary" type="submit">
        Submit
      </button>
    </div>
  </form>
</div>
